<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      Post-Art <b class="font-black">&nbsp; Admin</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li class="active">
        <a href="/">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Magic Is Here</p>
    <ul class="menu-list">
      <li class="--set-active-forms-html">
        <a href="/addimage">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Add Images</span>
        </a>
      </li>
      <li class="--set-active-tables-html">
        <a href="/addcat">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Add Category</span>
        </a>
      </li>
      <li class="--set-active-profile-html">
        <a href="/users">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Users</span>
        </a>
      </li>
      <li class="--set-active-profile-html">
        <a href="/admin/getall/image">
          <span class="icon"><i class="mdi mdi-image"></i></span>
          <span class="menu-item-label">Images</span>
        </a>
      </li>
      <li class="--set-active-profile-html">
        <a href="/admin/getall/cat">
          <span class="icon"><i class="mdi mdi-image"></i></span>
          <span class="menu-item-label">Categories</span>
        </a>
      </li>
      <li class="--set-active-profile-html">
        <a href="/import">
          <span class="icon"><i class="mdi mdi-image"></i></span>
          <span class="menu-item-label">Import Images</span>
        </a>
      </li>
        </div>
</aside>
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Dashboard</li>
    </ul>
    <!-- <a href="https://justboil.me/" onclick="alert('Coming soon'); return false" target="_blank" class="button blue">
      <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
      <span>Premium Demo</span>
    </a> -->
  </div>
</section>